body {
    background-color: #F5F5F5;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#newContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    padding-bottom: 110px;
}

p {
    font-family: 'EB Garamond', serif;
    color: #433218;
}
#Plant {
    padding-top: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
